.header {
    padding: 92px 49px 92px 51px;
    display: grid;
    grid-template-columns: auto 209px auto 355px auto;
    grid-template-rows: 100px;
}

.header__menu {
    grid-column-start: 1;
}

.header__links-list {
    display: flex;
    gap: 13px;
}

.header__links-list-item {
    list-style: circle inside;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: solid 2px;
}

.header__link-active {
    border: none;
}

.header__logo {
    grid-column-start: 3;
    display: block;
}

.header__logo-image {

}

.address {
    ,

    
}

.header__address {
    grid-column-start: 5;
}

.cover {

}

.overlay {

}

.cover__title {

}

.aligned-text {

}

.aligned-text_center {

}

.aligned-text_right {

}

.letter-spacing-extended {

}

.no-letter-spacing {

}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}

.lots {

}

.lots__heading {

}

.lots__card-list {

}

.lots__card-list-item {

}

.card-link {

}

.card {

}

.card_type_film {

}

.card_type_book {

}

.card_type_picture {

}

.card__title {

}

.card__text {

}

.lots__look-more-link {

}

.about {

}

.about__column {

}

.about__logo {

}

.about__logo-image {

}

.about__title {

}

.about__text {

}

.footer {

}

.address {

}

.footer__menu {

}

.footer__menu-list {

}

.footer__menu-list-item {

}

.footer__menu-link {

}

.footer__menu-link_active {

}

.footer__social-list {

}

.footer__social-list-item {

}

.footer__social-link {

}

.footer__social-icon{

}